package layout

templ Base() {
  <html lang="en">
    <head>
      <title>G.O.T</title>
      <link rel="stylesheet" href="/static/output.css">
      <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    </head>
    <body>
      <h1 class="text-9xl">Base</h1>
      { children... }
    </body>
  </html>
}
